<footer class="footer">
  <div class="container">
    <p>
      <span class="djm-brand">Don't judge Me </span>Clothing &copy; 2014

      <span class="pull-right"><i><b>Disclaimer:</b> this is not a real site, so please do not attempt to purchase anything from here.</i></span>
    </p>

  </div>
</footer>